@font-face {
  font-family: 'vw_text';
  src: url('../../globals/fonts/VWTextOffice.woff2') format('woff2'),
  url('../../globals/fonts/VWTextOffice.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  background: url('./qwe.jpg');
  font-family: 'MyFont';
}